<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <description>Mule Hexagonal Microservice Architecture Configuration</description>
    <spring:beans>
		<spring:bean id="property-placeholderInstance"
			class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
			name="Bean">
			<spring:property name="locations">
				<spring:list>
					<spring:value>classpath:config/application.properties
					</spring:value>
					<spring:value>classpath:config/endpoints.properties</spring:value>
					<spring:value>classpath:config/persistence.properties
					</spring:value>
					<spring:value>classpath:config/wsdl.properties</spring:value>
					<spring:value>classpath:config/logging.properties</spring:value>
				</spring:list>
			</spring:property>
		</spring:bean>
        <spring:bean id="hexagonalApplication" name="hexagonalApplication" class="com.hexagonal.app.HexagonalApplication"/>
        <spring:bean id="codeFirstExampleEntityEndpoint" name="codeFirstExampleEntityEndpoint" class="com.hexagonal.infra.adapter.api.CodeFirstExampleEntityEndpoint"/>
 		<spring:bean name="loggingInInterceptor" class="${logging.interceptor.in.class}">
			<spring:property name="prettyLogging" value="true" />
		</spring:bean>
		<spring:bean name="loggingOutInterceptor" class="${logging.interceptor.out.class}">
			<spring:property name="prettyLogging" value="true" />
		</spring:bean>       
    </spring:beans>
    
	<http:listener-config doc:name="Main HTTP listener for the application"
		name="Listener-Application" basePath="${app.url.path}" host="${app.url.host}"
		port="${app.url.port}" />

	<cxf:configuration name="CXF_Configuration"
		enableMuleSoapHeaders="${cxf.enableMuleSoapHeaders}"
		initializeStaticBusInstance="${cxf.initializeStaticBusInstance}"
		doc:name="CXF Configuration" configurationLocation="${cxf.configFile}" />    
</mule>
